// Specific CSS for your home-page

// PART 1: HOMEPAGE CONTAINER 1

.homepage-container {
  display: flex;
  flex-direction: row;
  height: 1120px;
  padding: 80px 60px 60px 60px;
}

.homepage-container .left-scene > .logo {
  background-image: url('https://res.cloudinary.com/dpzjvi2w1/image/upload/v1593351276/logo_mt2wne.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  height: 200px;
  width: 160px;
  // image was made with a little extra space on the left. If fixed, change width back to 181px and bg-position: center
}

.homepage-container > .homepage-headshot {
  background-image: url('https://res.cloudinary.com/dpzjvi2w1/image/upload/v1593351669/Yasmin-RESIZE_cpfhih.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 74%;
  height: 1000px;
  width: 50%;
  min-height: fit-content;
  position: absolute;
  top: 60px;
  right: 80px;
}

nav {
  cursor: pointer;
}

a {
  color: #FFF;
  font-family: 'Merriweather Sans', sans-serif;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 1px;
  transition: color 0.5s;
}

.homepage-container nav > a {
  padding-right: 12px;
}

a:hover {
  color: #E2BEA9;
  text-decoration: none;
}

.active {
  color: #E5B39A;
  pointer-events: none;
}

h1 {
  font-family: 'Merriweather Sans', sans-serif;  text-transform: uppercase;
  font-weight: bold;
  font-size: 72px;
  color: #FFF;
  line-height: 84px;
  letter-spacing: 3px;
}

.homepage-container .left-scene .homepage-text > p {
  font-weight: bold;
  color: #D09680;
}

.left-scene {
  height: 1000px;
  // padding-left: 100px;
}

.homepage-text {
  padding-top: 200px;
}


// PART 2: TRAINING AND SKILLS NUDE CONTAINER
.training-skills-container {
  background-color: #E2BEA9;
  border-top: solid 10px #FFF;
  border-bottom: solid 10px #FFF;
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.bio-container {
  padding: 60px;
}

.training-container {
  border-top: solid 10px #FFF;
  padding: 60px;
}

.skills-other-container {
  border-left: solid 10px #FFF;
}

.skills-container {
  padding: 60px;
}

.other-container {
  border-top: solid 10px #FFF;
  padding: 60px;
}

.training-skills-container .training-container > h4, .bio-container > h4, .skills-other-container .skills-container > h4, .other-container > h4 {
  color: #000;
}

.training-skills-container .training-container > p, .bio-container > p, .training-skills-container .skills-other-container .skills-container > p, .skills-other-container .other-container > p {
  color: #000;
  line-height: 20px;
}

// PART 3: MEASUREMENTS CONTAINER
.homepage-container-2 {
  padding: 80px 60px 60px 60px;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 40px;
}

.movement-image {
  background-image: url('https://res.cloudinary.com/dpzjvi2w1/image/upload/v1593360357/20190918_173516_uo2lpn.jpg');
  opacity: 75%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 600px;
}

.measurements-container {
  padding: 40px 0;
}


// Mobile
@media (max-width: 767px) {
  .homepage-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 40px 20px 40px 20px;
    position: relative;
  }

  .homepage-container > .homepage-headshot {
    opacity: 74%;
    height: 100%;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, 0);
  }

  .homepage-text {
    position: absolute;
    bottom: 40px;
    left: 20px;
  }

}

@media (max-width: 568px) {
  .training-skills-container {
    grid-template-columns: 1fr;
  }

  .homepage-container-2 {
    padding: 40px 20px 40px 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
  }

  .training-container {
    border-bottom: solid 10px #FFF;
  }

  .skills-other-container {
    border-left: none;
  }

  h1 {
    font-size: 56px;
    line-height: 84px;
  }
}
