.portfolio-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.portfolio-container {
  padding: 20px 0 100px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px;
  width: 800px;
  align-items: center;
}

.title {
  height: 500px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: none;
}

.images {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 400px;
  opacity: 65%;
  margin: none !important;
  transition: opacity 0.5s;
}

#image-1 {
  background-image: url('https://res.cloudinary.com/dpzjvi2w1/image/upload/v1593368061/yasminresize-4_bctit0.jpg');
}

#image-2 {
  background-image: url('https://res.cloudinary.com/dpzjvi2w1/image/upload/v1593368056/yasminresize-2_gdmmmw.jpg');
  background-position: top;
}

#image-3 {
  background-image: url('https://res.cloudinary.com/dpzjvi2w1/image/upload/v1593368051/Yasminresize-1_tjbv99.jpg');
}

#image-4 {
  background-image: url('https://res.cloudinary.com/dpzjvi2w1/image/upload/v1593368069/yasminresize-5_lyhs7r.jpg');
}

#image-5 {
  background-image: url('https://res.cloudinary.com/dpzjvi2w1/image/upload/v1593368117/yasminresize-6_gee7kb.jpg');
  background-position: top;
}

#image-6 {
  background-image: url('https://res.cloudinary.com/dpzjvi2w1/image/upload/v1593368122/yasminresize-7_djgjhz.jpg');
  background-position: top;
}

#image-7 {
  background-image: url('https://res.cloudinary.com/dpzjvi2w1/image/upload/v1593351669/Yasmin-RESIZE_cpfhih.jpg');
}

.images:hover {
  opacity: 100%;
}


/* JS gallery */

div.overlay {
/*   background-color: rgba(135, 161, 192, 0.6); */
/*  background-color: rgba(227, 211, 202, 0.8); */
  background-color: rgba(255,255,255,0.3);
  height: 100vh;
  width: 100vw;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
}

.overlay section {
  height: 750px;
  width: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  // background-image: url('https://res.cloudinary.com/dpzjvi2w1/image/upload/v1593368061/yasminresize-4_bctit0.jpg');
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.overlay div.cross {
  background-image: url('https://res.cloudinary.com/dpzjvi2w1/image/upload/v1593883986/times-solid_nvfhak.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 10;
  width: 24px;
  height: 24px;
}

.overlay .arrows {
  display: flex;
  justify-content: space-between;
}

div.next {
  position: fixed;
  top: 50%;
  right: 60px;
  z-index: 5;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 20px;
  height: 20px;
  display: none;
}

div.prev {
  position: fixed;
  top: 50%;
  left: 60px;
  z-index: 3;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 20px;
  height: 20px;
  display: none;
}

@media(min-width: 576px) and (max-width: 800px) {
  .portfolio-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
    width: 540px;
  }

  .images, .title {
    width: 270px;
    height: 400px;
  }

  div.overlay {
    width: 100vw;
    height: 100vh;
  }

  .overlay section {
    height: 750px;
    width: 540px;
  }
}

@media(max-width: 575px) {
  .portfolio-container {
    grid-template-columns: 1fr;
    width: 300px;
  }

  .portfolio-container .title > h4 {
    font-size: 36px;
  }

  .portfolio-container .title {
    height: 120px;
    width: 300px;
    align-items: start;
  }

  .images {
    width: 300px;
  }

  div.overlay {
    width: 100vw;
  }

  .overlay section {
    height: 450px;
    width: 300px;
  }
}
