.images {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
  width: 300px;
  opacity: 50%;
}

#image-1 {
  background-image: url('https://res.cloudinary.com/dpzjvi2w1/image/upload/v1593368061/yasminresize-4_bctit0.jpg');
}

#image-2 {
  background-image: url('https://res.cloudinary.com/dpzjvi2w1/image/upload/v1593368056/yasminresize-2_gdmmmw.jpg');
}

#image-3 {
  background-image: url('https://res.cloudinary.com/dpzjvi2w1/image/upload/v1593368051/Yasminresize-1_tjbv99.jpg');
}

#image-4 {
  background-image: url('https://res.cloudinary.com/dpzjvi2w1/image/upload/v1593368069/yasminresize-5_lyhs7r.jpg');
}

#image-5 {
  background-image: url('https://res.cloudinary.com/dpzjvi2w1/image/upload/v1593368117/yasminresize-6_gee7kb.jpg');
}

#image-6 {
  background-image: url('https://res.cloudinary.com/dpzjvi2w1/image/upload/v1593368122/yasminresize-7_djgjhz.jpg');
}

#image-7 {
  background-image: url('https://res.cloudinary.com/dpzjvi2w1/image/upload/v1593351669/Yasmin-RESIZE_cpfhih.jpg');
}


