<div class="footer">
  <p>
    <i class="far fa-copyright"></i> copyright
  </p>

  <p style="text-align: center;">
    Built with <i class="far fa-heart"></i> by YASMIN JONES SHEAHAN
  </p>

  <div class="social" style="text-align: right;">
    <%= render "shared/social_links" %>
<!--     <p>yasmin@yjs.co.uk</p> -->
  </div>
</div>
