<div class="navbar">
  <%= link_to root_path do %>
    <div class="logo">
    </div>
  <% end %>


  <div class="menu">
    <nav>
      <%= link_to "ABOUT", root_path %>
      <%= link_to "PORTFOLIO", portfolio_path, class: "active" %>
      <%= link_to "CONTACT", contact_path %>
    </nav>
  </div>
</div>
