<div class="navbar">
  <div class="logo">
  </div>


  <div class="menu">
    <nav>
      <%= link_to "ABOUT", root_path %>
      <%= link_to "PORTFOLIO", portfolio_path, class: "active" %>
      <%= link_to "CONTACT", contact_path %>
    </nav>
  </div>
</div>
