<div class="social-links">
    <a href="https://www.instagram.com/yasmin.mjs/"" style="padding: 0;"><i class="fab fa-instagram"></i></a>
    <a href="https://vimeo.com/"><i class="fab fa-vimeo-v"></i></a>
    <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
</div>
