<div class="social_links">
  <ul>
    <a href="www.instagram.com/yasmin.mjs"><i class="fab fa-instagram"></i></a>
    <a href="www.vimeo.com"><i class="fab fa-vimeo-v"></i></a>
    <a href="facebook"><i class="fab fa-facebook-f"></i></a>
  </ul>
</div>
