<%= render "shared/navbar" %>

<div class="contact-container">

  <h4>
    CONTACT
  </h4>

  <p id="fade-in">
    To get in touch with Yasmin, please fill out the form below and she will get back to you within 2 business days.
  </p>


  <form
    action="https://formspree.io/mrgyadgj"
    method="POST">

    <label id="fade-in">
      NAME
    </label>
    <input type="text" name="name">

    <label id="fade-in">
      EMAIL
    </label>
    <input type="email" name="_replyto">

    <label id="fade-in">
      MESSAGE
    </label>
    <input type="text" name="message" id="message-box">
    <div class="button-container">
      <input type="submit" value="Send" id="fade-in">
    </div>

  </form>

</div>
<script>
  const animatedTags = document.querySelectorAll("#fade-in")

  // fade out on load
  animatedTags.forEach(tag => {
    tag.style.opacity = 0
  })

  const fadeIn = function () {
    // look through all the animated tags and see
    // with the getBoundingClientRect() if it's in the window
    let delay = 0.6

    animatedTags.forEach(tag => {
      const tagTop = tag.getBoundingClientRect().top
      const tagBottom = tag.getBoundingClientRect().bottom

      if (tagTop < window.innerHeight && tagBottom > 0) {
        tag.style.animation = `fadeIn 1s ${delay}s both`
        delay = delay + 0.3
      } else {
        tag.style.opacity = 0
        tag.style.animation = ""
      }
    })
  }
   // on load, fade in
  fadeIn();

  document.addEventListener("scroll", function () {
    fadeIn();
  })

  // on browser resize, run fadeIn
  window.addEventListener("resize", function () {
    fadeIn();
  })
</script>

