<div class="homepage-container">
  <div class="left-scene">
    <div class="logo">
    </div>

    <nav data-aos="fade-in">
      <%= link_to "ABOUT", root_path, class: "active" %>
      <%= link_to "PORTFOLIO", portfolio_path %>
      <%= link_to "CONTACT", contact_path %>
    </nav>

    <div class="homepage-text">
      <h1 data-aos="fade-in">
        Yasmin
        <br />
        Jones Sheahan
      </h1>

      <p data-aos="fade-in">
        Professional Dancer.
        <br />
        Aspiring Choreographer.
        <br />
        Based in London.
      </p>

      <div class="social-links" style="text-align: left;">
          <a href="https://www.instagram.com/yasmin.mjs/"" style="padding: 0;"><i class="fab fa-instagram"></i></a>
          <a href="https://vimeo.com/"><i class="fab fa-vimeo-v"></i></a>
          <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
      </div>
    </div>
  </div>


  <div class="homepage-headshot">
  </div>

</div>

<div class="training-skills-container">
  <div class="bio-training-container">
    <div class="bio-container" >
      <h4>Biography</h4>
      <p data-aos="fade-in">
        An experienced, versatile dancer. Yasmin uses her strength to execute weighted, definite actions, while moving with control to showcase every texture. <br />With a strong Hip Hop foundation, she eases naturally into grounded movement, but loves to show intricacy and femininity with the art of Waacking.
         </p>
      </p>
    </div>

    <div class="training-container" data-aos="fade-in">

      <h4>
        Training
      </h4>
      <p>
        Runway House
      </p>
      <p>
        Ideas. Identity. Industry.
      </p>
      <p>
        Keep It Moving Intensive
      </p>
      <p>
        Alleyne Dance Intensive
      </p>
      <p>
        ZooSkool
      </p>
      <p>
        Pineapple Performing Arts School
      </p>

    </div>
  </div>

  <div class="skills-other-container" data-aos="fade-in">
    <div class="skills-container">
      <h4>
        Skills
      </h4>
      <p>
        Hip Hop
      </p>
      <p>
        House
      </p>
      <p>
        Popping
      </p>
      <p>
        Waacking
      </p>
      <p>
        Commercial
      </p>
      <p>
        Contemporary
      </p>
      <p>
        Heels
      </p>
    </div>

    <div class="other-container" data-aos="fade-in">
      <h4>
        Other
      </h4>
      <a id="pilates-link" href="https://pilates-with-yasmin.superhi.com/">
        <p>
          Pilates/Fitness Instructor
        </p>
      </a>
    </div>

  </div>
</div>

<div class="homepage-container-2">
  <div class="movement-image">
  </div>

  <div class="measurements-container" data-aos="fade-in">

    <h4>
      Measurements
    </h4>
    <p>
      Height: 5'4"
    </p>
    <p>
      Hair: Black, Mid-length, Curly
    </p>
    <p>
      Ethnicity: Mixed White and Black Caribbean
    </p>
    <p>
      Nationality: British
    </p>
    <p>
      Eyes: Brown
    </p>
    <p>
      Chest: 32"
    </p>
    <p>
      Waist: 28"
    </p>
    <p>
      Hips: 32"
    </p>
    <p>
      Dress: UK 8
    </p>
    <p>
      Shoe: UK 6
    </p>

  </div>

</div>
<script>
  const animatedTags = document.querySelectorAll("#fade-in")

  // fade out on load
  animatedTags.forEach(tag => {
    tag.style.opacity = 0
  })

  const fadeIn = function () {
    // look through all the animated tags and see
    // with the getBoundingClientRect() if it's in the window
    let delay = 0.6

    animatedTags.forEach(tag => {
      const tagTop = tag.getBoundingClientRect().top
      const tagBottom = tag.getBoundingClientRect().bottom

      if (tagTop < window.innerHeight && tagBottom > 0) {
        tag.style.animation = `fadeIn 1s ${delay}s both`
        delay = delay + 0.3
      } else {
        tag.style.opacity = 0
        tag.style.animation = ""
      }
    })
  }
   // on load, fade in
  fadeIn();

  document.addEventListener("scroll", function () {
    fadeIn();
  })

  // on browser resize, run fadeIn
  window.addEventListener("resize", function () {
    fadeIn();
  })
</script>
