<div class="homepage-container">
  <div class="left-scene">
    <div class="logo">
    </div>

    <nav>
      <%= link_to "ABOUT", root_path, class: "active" %>
      <%= link_to "PORTFOLIO", portfolio_path %>
      <%= link_to "CONTACT", contact_path %>
    </nav>

    <div class="homepage-text">
      <h1>
        Yasmin
        <br />
        Jones Sheahan
      </h1>

      <p>
        Professional Dancer.
        <br />
        Aspiring Choreographer.
        <br />
        Based in London.
      </p>

      <%= render "shared/social_links" %>
    </div>
  </div>


  <div class="homepage-headshot">
  </div>

</div>

<div class="training-skills-container">
  <div class="bio-training-container">
    <div class="bio-container">
      <h4>Biography</h4>
      <p>
        An experienced, versatile dancer. Yasmin uses her strength to execute weighted, definite actions, while moving with control to showcase every texture. <br />With a strong Hip Hop foundation, she eases naturally into grounded movement, but loves to show intricacy and femininity with the art of Waacking.
         </p>
      </p>
    </div>

    <div class="training-container">

      <h4>
        Training
      </h4>
      <p>
        Runway House
      </p>
      <p>
        Ideas. Identity. Industry.
      </p>
      <p>
        Keep It Moving Intensive
      </p>
      <p>
        Alleyne Dance Intensive
      </p>
      <p>
        ZooSkool
      </p>
      <p>
        Pineapple Performing Arts School
      </p>

    </div>
  </div>

  <div class="skills-other-container">
    <div class="skills-container">
      <h4>
        Skills
      </h4>
      <p>
        Hip Hop
      </p>
      <p>
        House
      </p>
      <p>
        Popping
      </p>
      <p>
        Waacking
      </p>
      <p>
        Commercial
      </p>
      <p>
        Contemporary
      </p>
      <p>
        Heels
      </p>
    </div>

    <div class="other-container">
      <h4>
        Other
      </h4>
      <p>
        Pilates/Fitness Instructor
      </p>
    </div>

  </div>
</div>

<div class="homepage-container-2">
  <div class="movement-image">
  </div>

  <div class="measurements-container">

    <h4>
      Measurements
    </h4>
    <p>
      Height: 5'4"
    </p>
    <p>
      Hair: Black, Mid-length, Curly
    </p>
    <p>
      Ethnicity: Mixed White and Black Caribbean
    </p>
    <p>
      Nationality: British
    </p>
    <p>
      Eyes: Brown
    </p>
    <p>
      Chest: 32"
    </p>
    <p>
      Waist: 28"
    </p>
    <p>
      Hips:
    </p>
    <p>
      Dress: UK 8
    </p>
    <p>
      Shoe: UK 6
    </p>

  </div>

</div>
