<%= render "shared/navbar" %>
<div class="portfolio-page">
  <div class="portfolio-container">

    <div class="title">
      <h4>
        Portfolio
      </h4>
    </div>
    <div class="images" id="image-1">
    </div>
    <div class="images" id="image-2">
    </div>
    <div class="images" id="image-3">
    </div>
    <div class="images" id="image-4">
    </div>
    <div class="images" id="image-5">
    </div>
    <div class="images" id="image-6">
    </div>
    <div class="images" id="image-7">
    </div>
  </div>
</div>
