.footer {
  padding: 24px 60px 16px 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 60px;
  background-color: #FFF;
  p, a {
    color: #000;
    font-size: 10px;
    margin-bottom: 0;
    line-height: 12px;
  }
}
