.navbar .logo {
  background-image: url('https://res.cloudinary.com/dpzjvi2w1/image/upload/v1593351276/logo_mt2wne.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  height: 200px;
  width: 160px;
  // image was made with a little extra space on the left. If fixed, change width back to 181px and bg-position: center
}

.navbar {
  padding: 0 60px;
}

.navbar .menu nav {
  cursor: pointer;
  a {
    padding-left: 12px;
  }
}

/* Mobile */
@media(max-width: 600px) {
  .navbar {
    padding: 20px 60px;
  }

  .navbar .logo {
    height: 120px;
    width: 90px;
  }

  .navbar .menu > nav {

  }

  .navbar .menu nav > a {
    font-size: 12px
  }

  .active {
    display: none;
  }
}
